<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>
  
  <div class="field">
    <%= f.label :video %><br />
    <%= file_field_tag :video %>
  </div>
  
  <div class="field">
    <%= f.label :picture %><br />
    <%= file_field_tag :picture %>
  </div>
  
  <!-- <%= f.fields_for :assets do |asset_form| %>
    <div class="asset field">
      <%= asset_form.file_field :data %>
    </div>
  <% end %> -->
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
